* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono",monospace;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

form {
  margin-top: 20px;
}

.form-group {
  width: 300px;
  margin-bottom: 10px;
}


.form-control {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control:focus {
  border: 1px solid #0c0e9e;
  outline: none;
}

.choice {
  display: flex;
}

.check {
  width: 50%;
  margin: 5px 0px;
}

.btn {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  background: #2629c4;
  color: white;
  border: 1px solid #2629c4;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px
}

.btn:hover {
  color: #2629c4;
  background: white;
  border: 1px solid #2629c4;
}

span {
  color: rgba(255, 0, 0, 0.708);
  font-size: 12px;
}

.onSubmit {
  position: absolute;
  top : 0;
  width: 100vw; 
  height: 100vh; 
  z-index: 1000;
  background: #d2cdcd46
}

::-webkit-calendar-picker-indicator{
  background-color: #ccc;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}