body {
	width: 96%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	color: black;
	text-transform: uppercase;
}

h4{
	margin: 0px;
}

table thead tr th,  table thead tr th h4 {
  width: var(--w);
}

.flex {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 2px;
	align-items: flex-start;
}

.flex .flex-item {
	width: 100% !important;
	height: 100%;
}

.bordered {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2px;
}



.bordered, .bordered .flex .flex-item, .bordered table th, .bordered table td {
	color: black;
	border-left: 2px dashed black;
	border-right: 2px dashed black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-collapse: collapse;
	margin: 0px;
	padding: 2px 3px;
}

.bordered table {
	width: 100%;
}

.bordered table#entente-gains-retenues {
	align-items: flex-end !important;
	height: 40px;
	margin-bottom: 10px
}
.bordered table#more-info tbody tr {
	height: 150px;
}

.bordered table#more-info tbody tr td:nth-child(1) {
	text-align: left;
	padding-left: 10px;
}

.bordered table#more-info tbody tr td {
	text-align: center;
}
.bordered table#entente-gains-retenues thead th h4{
	letter-spacing: 2em;
}

.bordered table th, .bordered table td {
	padding: 5px 0px;
}

.bordered .gains-retenues table tbody tr td {
	height: 300px !important;
}

.bordered .gains-retenues table td {
	padding: 0px !important;
}

.bordered table tbody.gains {
	width: 0% !important;
}

.bordered table tbody.gains tr td {
	font-weight: 400;
	text-align: center;
}

.bordered table tbody.gains tr:first-child td {
	border-top: 1px solid black !important;
	padding-top: 5px !important;
}
.bordered table tbody.gains tr:last-child td {
	border-bottom: 1px solid black !important;
	padding-bottom: 5px !important;
}

.bordered table tbody.gains tr td {
	border-top: none;
	border-bottom: none;
}

.bordered table tbody.gains tr td.flex h4:nth-child(1) {
	width: 50%;
}
.bordered table tbody.gains tr td.flex h4:nth-child(2) {
	width: 20%;
}
.bordered table tbody.gains tr td.flex h4:nth-child(3) {
	width: 30%;
}

.bordered table tbody.center td{
	text-align: center;
}

.flex.justify-end {
	display: flex;
	justify-content: flex-end !important;
}

.flex.justify-center {
	display: flex;
	justify-content: center !important;
}